html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

h1 {
  color: #000;
}

nav a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #005e76;
}

nav li a:hover {
  text-decoration: none;
  color: #0084a6;
  border-bottom: 2px solid #0084a6;
}

.title {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost {
  border: 2px solid #0084a6;
  color: #005e76;
}

.btn:hover {
  border-color: #8bc9d9;
  color: #0084a6;
  background-color: #8bc9d9;
}

footer {
  border-top: 2px solid #e2e2e2;
  color: #666;
}

nav p {
  text-align: center;
}

ul {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  nav ul {
    text-align: right;
  }

  nav p {
    text-align: left;
  }

}
